:root
{
    --background-color: rgb(43, 43, 43);
    --button-background-color: rgba(255, 255, 255, 0.7);
}

body
{
    background-image: url("../images/6.0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding-bottom: 75px;
}

.vertical-center
{
    padding-top: 5%;
}

.display-none
{
    display: none;
}

.offline-icon
{
   height: 1em;
   width: 1em; 
}

.logo-icon
{
    position: relative;
    bottom: 5px;
    height: 1.4em;
    width: 1.4em;
}

.navbar-icon
{
    position: relative;
    border-radius: 50%;
    bottom: 2.5px;
    width: 40px;
    height: 40px;
}

.legend-icon
{
    height: 1.33em;
    width: 1.33em;
}

.legend-background
{
    transition: all 0.15s ease-in-out;
}

.legend-background:hover
{
    transform: scale(1.4, 1.4);
}

.bordered-text
{
    vertical-align: middle;
    border-radius: 10px;
    background-color: var(--background-color);
    padding: auto;
}

.navbar
{
    height: 45px;
    padding: 0px;
    background-color: var(--background-color);
}

.no-decoration
{
    text-decoration: none;
    color: white;
}

.no-decoration:hover
{
    color: white;
}

.card
{
    background-color: var(--background-color);
}

.card-header
{
    color: white;
}

.outlined-text
{
    color: black;
    -webkit-text-stroke: 1px white;
}

.outlined-text-small
{
    color: black;
    -webkit-text-stroke: .6px white;
}

.svg-outline
{
    filter: drop-shadow(1px 1px 0px white) drop-shadow(-1px 1px 0px white) drop-shadow(1px -1px 0px white) drop-shadow(-1px -1px 0px white);
}


.button
{
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 15px;
    color: black;
    border-left: 1px solid var(--background-color);
    border-right: 1px solid var(--background-color);
    border-bottom: 2px solid var(--background-color);
    border-top: 2px solid var(--background-color);
    transition: all 0.15s ease-in-out;
    cursor: pointer;

    background-color: var(--button-background-color)
}

.button-left
{
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 15px;
    color: black;
    text-align: center;
    border-left: 2px solid var(--background-color);
    border-right: 1px solid var(--background-color);
    border-bottom: 2px solid var(--background-color);
    border-top: 2px solid var(--background-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 0.15s ease-in-out;
    cursor: pointer;

    background-color: var(--button-background-color)
}

.button-right
{ 
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 15px;
    color: black;
    border-left: 1px solid var(--background-color);
    border-right: 2px solid var(--background-color);
    border-bottom: 2px solid var(--background-color);
    border-top: 2px solid var(--background-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; 
    transition: all 0.15s ease-in-out;
    cursor: pointer;

    background-color: var(--button-background-color)
}

.button:hover
{
    background-color: var(--background-color);
    color: white!important;
}

.button-left:hover
{
    background-color: var(--background-color);
    color: white!important;
}

.button-right:hover
{
    background-color: var(--background-color);
    color: white!important;
}

.form-check-input
{
    cursor: pointer;
}

.example-button
{
    background-color: var(--background-color);
    border: 2px solid var(--background-color);
    color: white;
    width: 225px;
    border-radius: 5px;
    transition: all 0.15s ease-in-out;
}

.uncheck-button
{
    background-color: var(--background-color);
    border: 2px solid var(--background-color);
    color: white;
    width: 125px;
    border-radius: 5px;
    transition: all 0.15s ease-in-out;
}

.example-button:hover
{
    border: 2px solid white;
}

.uncheck-button:hover
{
    border: 2px solid white;
}