body
{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.vertical-center
{
    padding-top: 5%;
}

.display-none
{
    display: none;
}

.offline-icon
{
   height: 1em;
   width: 1em; 
}